<table>
  <% book.book_comments.each do |book_comment| %>
    <tr>
        <td>
           <%= image_tag book_comment.user.get_profile_image %>
           <%= book_comment.user.name %>
        </td>
        <td>
          <%= book_comment.comment %>
        </td>
        <td>
          <%# No route matches {:action=>"destroy", :controller=>"book_comments", :id=>"1"}, missing required keys: [:book_id]%>
          <%# 名前付きルートにidを渡していなかった。 %>
          <%= link_to "Destroy", book_book_comments_path(book_comment.id), method: :delete , remote: true , class: "btn btn-danger" %>
        </td>
    </tr>
 <% end %>
</table>