<% @book_comments.each do |book_comment| %>
  <p><%= book_comment.book_comment_content %></p>
  <% if book_comment.user == current_user %>
      <p><%= link_to  "Destroy", book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, remote: true %></p>
  <% end %>
<% end %>
